<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="so101">
  <xacro:arg name="port" default="/dev/ttyACM0"/>
  <xacro:arg name="calibration_file" default="$(find so101_description)/config/follower_example_calibration.yaml"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="robot_plugin" default="hiwonder_lerobot_cpp/Follower"/>
  <xacro:include filename="$(find so101_description)/urdf/so101_macro.xacro"/>
  <xacro:include filename="$(find so101_description)/urdf/so101_ros2_control.xacro"/>
  <xacro:so101 prefix="$(arg prefix)"/>
  <xacro:so101_ros2_control port="$(arg port)" calibration_file="$(arg calibration_file)" prefix="$(arg prefix)" robot_plugin="$(arg robot_plugin)"/>
</robot>
